.add-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}
.input-item{
    margin: 10px;
    width: 350px;
}

@media only screen and (max-width:688px){
    .add-container{
        margin-left: 0px;
    }
}